<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help_rails" %>
  <%= link_to t(".page_help"), Settings.link.rails_tutorial_help %>.
  <%= t ".to_get_help" %>
  <em>
  <%= link_to t(".tutorial_book"), Settings.link.rails_tutorial_book %>
  </em>.
</p>
